header{
    background-color: aliceblue;
}

section.my-articles{
    background-color: #f2e9e9;
}

header p{
    color: red;
}
li a{
    color: green;
}
/* section.my-articles h2{
    color: olivedrab;
} */

section.my-articles > h2{
    color: olivedrab;
}
h2+p{
    color: orchid;
}
ul+p{
    color: peru;
}
article h2{
    color: yellow;
}