body :not(.fancy){
    color: blue;
    background-color: #dddd;
}

div:empty{
    background-color: brown;
    border: 2px solid red;
    height: 20px;
    width: 20px;
}

:root{
    background-color: #222;
    color: lightblue;
}