/* link, visited, hover, active */

a:link{
    color: black;
}

a:visited{
    color: green;
}

a:hover{
    color: red;
}

a:active{
    color: orange;
}

input:focus{
    border: 2px solid orange;
    padding: 5px;
    outline: none;
}

input:required{
    color: red;
}