:root{
    /* font-size: 10px; */
    font-size: 62.5%;
/* this 62.5 is equal to 10px */
}

p{
    font-size: 2rem;
}

.text-content{
    font-size: 3rem;
    border: 1rem solid red;
    padding: 2rem;
  
}